* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header--name {
  font-family: "Playball";
  font-size: 56px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.main--subtitle {
  font-family: "Playball";
  font-size: 36px;
  text-align: center;
  padding: 10px;
}

.line-divisor {
  background-color: #000;
  width: auto;
  height: 2px;
  margin: 30px 0;
}

.presente-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.presente-lista p, 
.presente-lista h3 {
  font-family: 'Inter';
}

.presente-lista--img {
  width: 300px;
}

.presente-lista--button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 5px;
  background-color: #f472b6;
}

.presente-lista--button:hover {
  background-color: #ec4899;
}

.presente-lista--link {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-family: 'Inter';
}

.lista-presentes {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.opcoes-de-loja {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 60px;

  justify-items: center;
  align-items: center;

  margin: 2rem;
}

.opcoes-de-loja img {
  width: 300px;
}

@media (max-width: 480px) {
  .opcoes-de-loja {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 60px;
  
    margin-top: 2rem;
  }

  .presente-lista h3 {
    text-align: center;
  }

  .presente-lista {
    margin: 0 10px;
  }
  
}
